*.suo
*.user
*.sln.docstates
bin/
obj/
test/
build/*.xml
/.vs/FimDelta/v16/Server/sqlite3/db.lock
/.vs/FimDelta/v16/Server/sqlite3/storage.ide
/.vs/FimDelta/v16/Server/sqlite3/storage.ide-shm
/.vs/FimDelta/v16/Server/sqlite3/storage.ide-wal
